body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: lightsalmon;
}
.bar {
    padding-top: 1rem;
    background-color: teal;
    color: lightsalmon;
}
.bar p {
    left: 25rem;
}
.intro {
    height: 30rem;
    padding-top: 1rem;
    background-image: url('https://content.codecademy.com/PRO/independent-practice-projects/responsive-meetup-page/img/runner-splash.jpg');
    background-position: center;
    background-repeat: none;
  }
  .intro img {
    width: 15rem;
    display: block;
    margin: auto;
    margin-top: 5rem;
  }