body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: lightsalmon;
  }
.bar {
    padding-top: 1rem;
    background-color: teal;
    color: lightsalmon;
  }